.messages {
  padding: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}
.m1 {
  background-color: whitesmoke;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.username{
  color: blue;
  font-weight: 710;
}
.m2 {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin: 5px;
}
.right-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
}
.scroll{
  height:80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  overflow-y: auto;
  position: fixed;
  width: calc(100% - 240px);
  right: 0;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #0065ff;
  outline: 1px solid #0065ff;
}
.image-sent{
  height: 150px;
  border-radius: 5px;
}