.MessageFooter {
  position: fixed;
  bottom: 0;
  background-color: rgb(38, 38, 236);
  padding: 10px;
  width: 100%;
  display: flex;
}

.mess-input {
  border: 1px solid rgb(209, 197, 197);
  padding: 0.7rem 1.5rem;
  width: 70%;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
  background-color: 'white';
  outline-color: white;
  border-radius: 20px;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.send-m-button {
  font-size: 30px;
}
.send-m-button-file{
  font-size: 30px;
  padding-left: 10px;
}
