.flex {
  display: flex;
  flex-direction: column;
}
.button {
  background: #0065ff;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: 80%;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 19px;
  color: white;
  margin-top: 10px;
}
.flex label {
  margin-left: 19px;
  font-weight: 700;
}
.input{
  border: 1px solid rgb(209, 197, 197);
  padding: 0.5rem 1.5rem;
  width: 80%;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
  background-color: 'white';
  outline-color: #0065ff;
}
.error{
  padding: 5px;
  color: 'red';
}
