.profile{
  height: 100vh;
}
.profile-component{
  display: flex;
}
.email-y{
  font-weight: 800;
}
.right-panel{
  padding: 10px;
  position: fixed;
  right: 0%;
  width: calc(100% - 50%);
  height: 100%;
  overflow-y: auto;
}
.left-panel{
  display: flex;
  background-color: whitesmoke;
  height: 100%;
  padding: 5px;
  position: fixed;
  width: 50%;
  text-align: center;
}
.profile-photo{
  height: 300px;
  border-radius: 50%;
  margin: auto;
}
.user-info-profile{
  height: 50%;
  padding: 10px;
  margin: 0 auto;
}
.profile-photo-null{
  width: 80%;
  border-radius: 50%;
}
.user-profile-photo{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Camera{
  color: #002966;
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
  right: 5rem;
}
.crop-image{
  width: fit-content;
  height: fit-content;
}
.uploaded{
  width: fit-content;
  height: fit-content;
}
.crop-container{
  width: 100%;
  margin: 0 auto;
}
.cimage{
 width: 80%;
 padding: 10px;
 margin: 0 auto;
}
.finalImage{
  padding: 5px;
}
.send-picture{
  background: #002966;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: 80%;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 10px;
  color: white;
  margin-top: 10px;
}
