.sidebar {
  background-color: whitesmoke;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
  position: fixed;
  width: 240px;
}
.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid blue;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.logo-container p {
  padding-left: 8px;
  color: blue;
}

.logo-container p:hover {
  cursor: pointer;
}

.add-logo {
  width: 20px;
}

.side-projects h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: blue;
}
