.container {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  height: 500px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.open-container {
  position: relative;
  width: 45%;
  height: 100%;
  padding: 5px;
}
.tasks {
  padding: 5px;
  overflow-y: auto;
  height: 410px;
}
.done-container {
  height: 100%;
  width: 45%;
  padding: 5px;
}
.open-container-title {
  position: sticky;
  width: 100%;
  text-align: center;
  background-color: blue;
  color: whitesmoke;
}
.add-button {
  background: #0065ff;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 10px;
  color: white;
  margin-top: 10px;
  margin-top: 5px;
}
