.task-card {
  padding: 8px;
  margin: 10px auto;
  border-left: 4px solid blue;
  z-index: 1;
  font-weight: 600;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
  width: 50%;
  border-radius: 5px;
}
