.verification-page{
  height: 100vh;
  display: flex;
  align-items: center;
}
.verification-card{
  margin: 0 auto;
  background-color: #002966;
  padding: 10px;
  text-align: center;
  width: 50%;
  color: white;
  
}